body {
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.form-container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.name-group {
    display: flex;
    gap: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
}

input:focus::placeholder {
    color: transparent;
}

input[type="submit"] {
    width: 100%;
    padding: 14px;
    margin-top: 21px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 9px;
    font-size: 16px;
    cursor: pointer;
}

.login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #2563eb;
    text-decoration: none;
    font-weight: bold;
}