html {
    scroll-behavior: smooth;
}

#header {
    background-color: rgb(94, 2, 33);
    box-shadow: 1px 5px 7px rgb(112, 27, 56);
}

#herosection {
    background-color: rgb(219, 227, 235);
}

.card {
    background-color: rgb(94, 2, 33);
    color: white;
}

#footer {
    background-color: rgb(94, 2, 33);
    color: white;
}

#examscontainer {
    background-color: rgb(219, 227, 235);
}