* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#question-box {
    background-color: rgb(219, 227, 235);
    box-shadow: 0 3px 10px rgb(94, 2, 33);
}

#question-pallete {
    background-color: rgb(219, 227, 235);
    box-shadow: 0 3px 13px rgb(94, 2, 33);
}

.qbtn:hover,
.sbtn:hover {
    transform: scale(1.1);
}

.container {
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-areas:
        "header header"
        "question-box palette"
        "question-box palette"
        "question-box palette"
        "question-box palette"
        "footer footer";
    gap: 20px;
    padding: 20px;
}

#header {
    background-color: rgb(94, 2, 33);
    color: white;
}

#prev:hover {
    background-color: rgb(255, 194, 214);
    color: rgb(94, 2, 33);
    transform: scale(1.1);
}

#next {
    background-color: rgb(94, 2, 33);
}

#next:hover {
    background-color: rgb(125, 239, 125);
    color: rgb(94, 2, 33);
}

.question-box {
    display: grid;
    gap: 24px;
}

#questionForm {
    width: 100%;
}

.option {
    border-radius: 7px;
    border: 1px solid gray;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
}

.option input {
    margin-right: 10px;
}

.option:hover {
    background-color: #e9f0ff;
    cursor: pointer;
}

.question-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
    padding: 10px;
}

.primary {
    background-color: rgb(37, 99, 235);
    color: white;
    border: none;
}

.palette {
    grid-area: palette;
    background-color: rgb(241, 241, 241);
    margin-bottom: 20px;
}

.palette h4 {
    margin-bottom: 15px;
    text-align: center;
}

.grid-palette {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

/* .grid-palette button {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
} */

.current {
    background-color: rgb(37, 99, 235);
    color: white;
}

.answered {
    background-color: rgb(34, 197, 94);
    color: white;
}

.marked {
    background-color: #ffdf20;
}

.submit {
    width: 70%;
    margin: 60px;
    padding: 12px;
    font-size: 15px;
    background-color: rgb(94, 2, 33);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.submit:hover{
    background-color: rgb(34, 197, 94);
    color: rgb(94, 2, 33);
  
} 

.footer {
    display: grid;
    grid-area: footer;
    background-color: rgb(33, 49, 65);
    font-weight: bold;
    justify-content: center;
    color: white;
    padding: 15px;
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "question-box"
            "palette"
            "footer";
    }

    .question-btn {
        grid-template-columns: 1fr;
    }

    .grid-palette {
        grid-template-columns: repeat(4, 1fr);
    }
}