#container{
    width: 360px;
    height: 500px;
    border: 0px solid black;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 7px 40px rgba(25, 23, 22, 0.1);
    padding: 20px;
    text-align: center;
    /* align-items: center; */
    position: relative;
    background-color: rgb(219, 227, 235);

}   
h1{
    font-family: Arial, sans-serif; 
    margin-left: 0px;
}
#para{
    font-family: Arial, sans-serif; 
    margin-left: 0px;
    color: gray;
}
#emailinput {
    width: 250px;
    height: 30px;
    position: absolute;
    /* left: 150px; */
    left:18%;
    top: 35%;
  
    /* margin-bottom: 30px; */
    border-radius: 7px;
}

#passinput {
    width: 250px;
    height: 30px;
    /* margin-left: 0px; */
    position: absolute;
    left: 18%;
    top: 50%;
    border-radius: 7px;
    border-style:ridge;
}
#lblmail{
    font-family: Arial, sans-serif; 
    /* font-weight: bold; */
    font-size: 17px;
    position: absolute;
    left: 18%;
    top: 30%;
}
#lblpass{
    font-family: Arial, sans-serif; 
    /* font-weight: bold; */
    font-size: 17px;
    position: absolute;
    left: 18%;
    top: 45%;
}
/* #loginError{
    margin-left: 0px;
} */
#loginbtn{
    width: 255px;
    height: 35px;
    background-color: rgb(0, 114, 17);
    color: white;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
    /* margin-top: 40px;
    margin-left: 80px; */
    cursor: pointer;
    position: absolute;
    left: 18%;
    top: 67%;
}
#emailError{
    font-family: Arial, sans-serif; 
    font-size: 15px;
    color: red;
    position: absolute;
    /* right:0px; */
    left: 18%;
    top: 42%;
    padding-right: 10px;
}
#passError{
    font-family: Arial, sans-serif;
    font-size: 15px; 
    color: red;
    position: absolute;
    /* right:0px; */
    left: 18%;
    top: 57%;
    padding-right: 10px;
}
#loginError{
    font-family: Arial, sans-serif; 
    font-size: 15px;
    color: red;
    font-weight: bold;
    position: absolute;
    left: 20%; 
    top: 75%;
}
#Register{
    font-family: Arial, sans-serif; 
    position: absolute;
    top: 80%;
    left: 25%;
    color: rgb(110, 109, 109);
}