body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ee3333;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 7px 40px rgb(94, 2, 33);
    color: white;
    max-width: 600px;
    margin: 50px auto;
    overflow: hidden;
}

#resultMessage {
    background-color: #05976a;
    width: 100%;
}

#successIcon {
    margin: 15px;
}

#resultMessage h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

#resultMessage p {
    font-size: 15px;
    margin-bottom: 30px;
}

#resultDetails {
    padding-bottom: 20px;
    background-color: #dbe3eb;
    width: 100%;
    color: black;
}

.student-label {
    font-size: 20px;
    margin-bottom: 5px;
}

.student-name {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
    color: black;
}

#scoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;
}

.score-box {
    background-color: #dbe3eb;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 7px 40px rgb(94, 2, 33);
    width: 150px;
}

.score-box h2 {
    font-size: 30px;
    margin-bottom: 5px;
}

.score-box p {
    font-size: 18px;
}

#homeBtn {
    padding: 12px 25px;
    font-size: 18px;
    background-color: #841937;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#homeBtn:hover {
    background-color: #6a1229;
}